<style>
    .bg-green {
        background-color: #D4ECE8;
    }
    .bg-tree {
        background-image: url('https://cdn.shopify.com/s/files/1/0833/1794/8730/files/Group_815.svg?v=1697441963');
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: bottom;
    }
</style>

<section class="bg-green">
    <div class="container">
        <div class="row bg-tree">
            <div class="col-4">
              <a href="{{ routes.root_url }}">
                <img src="{{ settings.footer_logo | image_url }}" width="auto" height="auto">
              </a>
              <div class="d-flex">
                <a href="https://www.instagram.com/">
                    <img src="{{ settings.social_instagram_logo | image_url }}">
                </a>
                <a href="https://www.facebook.com/">
                    <img src="{{ settings.social_facebook_logo | image_url }}">
                </a>
                <a href="https://www.youtube.com/">
                    <img src="{{ settings.social_youtube_logo | image_url }}">
                </a>
                <a href="https://www.tiktok.com/">
                    <img src="{{ settings.social_tiktok_logo | image_url }}">
                </a>
              </div>
              <div class="d-flex justify-content-between ">
                <div>© 2022 | Wanlow</div>
                <div>Privacy Policy</div>
                <div>Terms & Conditions</div>
            </div>
            </div>
            <div class="col-3 d-flex flex-column">
                {% for link in linklists.footer.links -%}
                    {{ link.title | link_to: link.url }}
                {%- endfor %}
            </div>
            <div class="col-5">
                <div>
                    {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div>
                        <div>
                        <input
                            id="NewsletterForm--{{ section.id }}"
                            type="email"
                            name="contact[email]"
                            value="{{ form.email }}"
                            aria-required="true"
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="email"
                            required
                        >
                        <button
                            type="submit"
                            class="btn-primary"
                            name="commit"
                            id="Subscribe"
                        >
                            Sign in
                        </button>
                        </div>
                    </div>
                    {%- endform -%}
                </div>
            </div>
        </div>
    </div>
</section>