<section class="bg-danger">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                {% for link in linklists.footer.links -%}
                    {{ link.title | link_to: link.url }}
                {%- endfor %}
            </div>
            <div class="col-auto">
              <a href="{{ routes.root_url }}">
                <img src="{{ settings.logo | image_url }}" width="auto" height="auto">
              </a>
            </div>
            <div class="col-auto">
                <div>
                    {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div>
                        <div>
                        <input
                            id="NewsletterForm--{{ section.id }}"
                            type="email"
                            name="contact[email]"
                            value="{{ form.email }}"
                            aria-required="true"
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="email"
                            required
                        >
                        <button
                            type="submit"
                            class="btn-primary"
                            name="commit"
                            id="Subscribe"
                        >
                            Sign in
                        </button>
                        </div>
                    </div>
                    {%- endform -%}
                </div>
            </div>
        </div>
    </div>
</section>