<style>
  .btn-orange {
    background-color: #DC7622;
    border-color: #DC7622;
    padding: 10px 20px;
  }
  .btn-orange:hover {
    background-color: #C96D22;
    border-color: #DC7622;
  }
  .image-text-section {
    padding: 60px 0;
  }
  @media screen and (max-width:991px){
    .image-text-section {
      padding: 30px 0;
    }
    .column-row {
      flex-direction: column-reverse;
      align-items: center;
    }
    .text-content {
      padding-top: 20px;
    }
    .text-content .content-text-heading {
      justify-content: center;
    }
    .text-content .content-text-subtitle, .text-content-button {
      text-align: center;
    }
  }
</style>

<section class="bg-gray image-text-section">
  <div class="container">
    <div class="row column-row align-items-center">
      <div class="col-12 col-lg-6 text-content">
        <div class="d-flex align-items-center content-text-heading gap-2 mb-3">
          <h1 class="m-0">{{ section.settings.section_heading }}</h1>
          <img src="{{ section.settings.three_stars | image_url }}" alt="three stars">
        </div>
        <p class="content-text-subtitle">{{ section.settings.section_text }}</p>
        
        {% for block in section.blocks %}
          {% unless block.settings.list_decoration == blank or block.settings.list_item == blank %}
            <div>
              <div class="d-flex gap-2 mb-4">
                <img src="{{ block.settings.list_decoration | image_url }}" alt="star">
                <p class="m-0">{{ block.settings.list_item }}</p>
              </div>
            </div>
          {% endunless %}
          {% unless block.settings.button_text == blank or block.settings.button_link == blank %}
            <div class="text-content-button">
              <a href="{{ block.settings.button_link }}">
                <button class="btn btn-secondary btn-orange">{{ block.settings.button_text }}</button>
              </a>
            </div>
          {% endunless %}
        {% endfor %}

      </div>
      <div class="col-8 col-lg-6">
        <img src="{{ section.settings.image |  image_url  }}" alt="Big Image" class="w-100">
      </div>
    </div>
  </div>
</section>



{% schema %}
{
    "name": "Image with text",
    "settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "Select Image"
    },
    {
        "type": "text",
        "id": "section_heading",
        "label": "Title",
        "default": "The Welcome Box"
    },
    {
        "type": "image_picker",
        "id": "three_stars",
        "label": "Icon Decoration"
    },
    {
        "type": "textarea",
        "id": "section_text",
        "label": "Description",
        "default": "Lorem Impsum..."
    }
    ],
    "max_blocks": 5,
    "blocks": [
    {
        "name": "List Item",
        "type": "list_item",
        "settings": [
            {
                "type": "image_picker",
                "id": "list_decoration",
                "label": "Add decoration icon"
            },
            {
                "type": "text",
                "id": "list_item",
                "label": "Add list item"
            }
        ]
    },
    {
        "name": "Button",
        "type": "button",
        "settings": [
            {
                "type": "text",
                "id": "button_text",
                "label": "Button label"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button Link"
            }
        ]
    }
    ],
    "presets": [
    {
      "category": "Content",
      "name": "Custom Image with Text"
    }
  ]
} 
{% endschema %}