<style>
    .custom-grid-section img {
        padding: 10px;
    }
    .custom-grid-section .column-padding-right {
        padding-right: 0;
    }
    .custom-grid-section .column-padding-left {
        padding-left: 0;
    }
</style>


<section>
    <div class="container">
        <div class="headline text-center">
            <h1>
                {{ section.settings.title }}
            </h1>
            <p>
                {{ section.settings.subtitle }}
            </p>
        </div>
        <div class="container custom-grid-section">
            <div class="row">
                <div class="col-8 column-padding-right">
                    <div class="d-flex">
                        <div class="w-100">
                            <img src="{{ section.settings.image1 | image_url }}" alt="Image 1" class="img-fluid">
                        </div>
                        <div class="align-self-center">
                            <div class="text-box text-center">
                                <p>{{ section.settings.text2 }}</p>
                                <a href="{{ section.settings.button_link }}" class="btn btn-primary">{{ section.settings.button2 }}</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="{{ section.settings.image3 | image_url }}" alt="Image 3" class="img-fluid w-100">
                    </div>

                </div>
                <div class="col-4 column-padding-left">
                    <div>
                        <img src="{{ section.settings.image2 | image_url }}" alt="Image 2" class="img-fluid w-100">
                    </div>
                    <div>
                        <img src="{{ section.settings.image4 | image_url }}" alt="Image 4" class="img-fluid w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%  schema  %} 
{
  "name": "Custom Grid Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image 1"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Box Text"
    },
    {
      "type": "text",
      "id": "button2",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Image 3"
    },
    {
      "type": "image_picker",
      "id": "image4",
      "label": "Image 4"
    }
  ],
  "presets": [
    {
        "category": "Content",
        "name": "Custom Grid section"
    }
  ]
}
{% endschema %}