<section>
  <div>
    {% unless section.settings.image_one == blank %}
      <div>
        <img
          src="{{ section.settings.image_one | image_url: width: 1500 }}"
          width="300"
          height="300"
        >
        <p>{{ section.settings.text_one }}</p>
      </div>
    {% endunless %}
    {% unless section.settings.image_two == blank %}
      <div>
        <img
          src="{{ section.settings.image_two | image_url: width: 1500 }}"
          width="300"
          height="300"
        >
        <p>{{ section.settings.text_two }}</p>
      </div>
    {% endunless %}
    {% unless section.settings.image_three == blank %}
      <div>
        <img
          src="{{ section.settings.image_three | image_url: width: 1500 }}"
          width="300"
          height="300"
        >
        <p>{{ section.settings.text_three }}</p>
      </div>
    {% endunless %}
  </div>
</section>

{% schema %}
{
  "name": "Three Box Images",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_one",
      "label": "Add first image"
    },
    {
      "type": "text",
      "id": "text_one",
      "label": "Text value"
    },
    {
      "type": "image_picker",
      "id": "image_two",
      "label": "Add second image"
    },
    {
      "type": "text",
      "id": "text_two",
      "label": "Text value"
    },
    {
      "type": "image_picker",
      "id": "image_three",
      "label": "Add third image"
    },
    {
      "type": "text",
      "id": "text_three",
      "label": "Text value"
    }
  ],
  "presets": [
    {
      "category": "Content",
      "name": "Three Box Section"
    }
  ]
}
{% endschema %}
