<section>
  <div class="container">
    <div class="row">
      <div class="swiper-container overflow-hidden">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            <img src="{{ block.settings.image | img_url: '500x' }}" alt="{{ block.settings.alt }}">
            <div class="content">
              <h2>{{ forloop.index }}</h2>
              <p>Index Number: {{ forloop.index }}</p>
              <h3>{{ block.settings.headline }}</h3>
              <p>{{ block.settings.subtitle }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<script src="{{ 'three-box.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Three Box Images",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title"
    }
  ],
  "blocks": [
    {
      "type": "swiper_block",
      "name": "Swiper Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "alt",
          "label": "Image Alt Text"
        },
        {
          "type": "text",
          "id": "headline",
          "label": "Headline"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Content",
      "name": "Three Box Section"
    }
  ]
}
{% endschema %}
