<style>
  .image-slider-wrapper {
    max-width: 250px;
    margin: 0 auto;
    padding-top: 30px;
  }
  .three-box {
    padding: 60px 0;
  }
</style>

<section class="bg-gray three-box">
  <div class="container">
      <h1 class="text-center">{{ section.settings.section_title }}</h1>
      <div class="swiper-container overflow-hidden">
      <div class="swiper-wrapper card-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide d-block custom-card">
            <div class="image-slider-wrapper">
              <img src="{{ block.settings.image | img_url: '500x' }}" alt="{{ block.settings.alt }}">
            </div>
            <div class="content">
              <h1>{{ forloop.index }}</h1>
              <h3>{{ block.settings.headline }}</h3>
              <p>{{ block.settings.subtitle }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</section>

<script src="{{ 'three-box.js' | asset_url }}"></script>

{% schema %}
{
  "name": "Three Box Images",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "swiper_block",
      "name": "Swiper Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "alt",
          "label": "Image Alt Text"
        },
        {
          "type": "text",
          "id": "headline",
          "label": "Headline"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Content",
      "name": "Three Box Section"
    }
  ]
}
{% endschema %}
